@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
.header{
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}